#ExplorePage {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-flow: column;
  padding: 0 3vw;
}
#ExplorePage > * {
  margin-top: 3vw;
}
#ExplorePage > h1 {
  color: #40e0d0;
  text-align: center;
  font-size: 5vw;
}
#search-bar > input {
  padding: 0.5vw;
  border-radius: 0.3vw;
  font-size: 1vw;
  margin-left: 0.5vw;
  outline: none;
  border-width: 0.15vw;
}
#search-bar > button {
  background-color: #efefef;
  border-width: 0.15vw;
  cursor: pointer;
  padding: 0.5vw;
  border-radius: 0.3vw;
  font-size: 1vw;
  margin-left: 0.5vw;
  outline: none;
}
#search-result {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  column-gap: 1vw;
  row-gap: 1vw;
}
